@if (isLoading$ | async) {
<div class="example-form__spinner">
  <mat-spinner></mat-spinner>
</div>
} @else {
<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Countries</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Countries"
      matInput
      formControlName="countryControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      @for (country of filteredCountries$ | async; track country) {
      <mat-option [value]="country">{{ country.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Proxy Type ID</mat-label>
    <mat-select formControlName="proxyTypeIdControl" multiple>
      @for (proxyTypeId of proxyTypeIds; track proxyTypeId) {
      <mat-option [value]="proxyTypeId.key">{{ proxyTypeId.value }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="example-form__count-layer">
    @if(displayResidentalCountControl){
    <mat-form-field>
      <mat-label>RESIDENTAL Count</mat-label>
      <input
        matInput
        formControlName="residentalCountControl"
        placeholder="RESIDENTAL Count"
        value="0"
        type="number"
      />
    </mat-form-field>
    } @if(displayMobileCountControl){
    <mat-form-field>
      <mat-label>MOBILE Count</mat-label>
      <input
        matInput
        formControlName="mobileCountControl"
        placeholder="RESIDENTAL Count"
        value="0"
        type="number"
      />
    </mat-form-field>
    }
  </div>
</form>

}

<button
  mat-raised-button
  [disabled]="!form.valid"
  (click)="createRandomPorts()"
  class="generate-button"
>
  Сгенерировать
</button>
