<div class="example-form">
  @if (isLoading$ | async) {
  <div class="example-form__spinner">
    <mat-spinner></mat-spinner>
  </div>
  } @else {
  <mat-form-field class="example-full-width">
    <mat-label>Countries</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Countries"
      matInput
      [formControl]="countryControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      @for (country of filteredCountries$ | async; track country) {
      <mat-option [value]="country">{{ country.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Proxy Type ID</mat-label>
    <mat-select [formControl]="proxyTypeIdControl">
      @for (proxyTypeId of proxyTypeIds; track proxyTypeId) {
      <mat-option [value]="proxyTypeId.key">{{ proxyTypeId.value }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }
</div>

<button
  mat-raised-button
  [disabled]="!countryControl.valid || !proxyTypeIdControl.valid"
  (click)="onGenerateRandomAddress()"
  class="generate-button"
>
  Сгенерировать
</button>
